Django==6.0.2
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-ckeditor==6.7.3
python-dotenv==1.2.1
gunicorn==21.2.0
whitenoise==6.11.0
Pillow>=10.0.0
drf-spectacular==0.29.0
psycopg2-binary==2.9.11
django-unfold==0.80.2
